@import url(https://fonts.googleapis.com/css?family=Roboto:700,300|Roboto+Slab:700);
body {
  margin: 0;
}
.site-header {
  background: white;
}
.site-banner {
  background: #353535;
  height: 1em;
}
